.card-custom {
  margin: 20px;
  cursor: pointer;
}
.card-custom:hover{
  background-color: #ccc;
}
.card-custom img{
  width: 100% !important;
  height: 180px;
}

/*overriding bootstrap card class*/
.btn-link{
  text-decoration: none;
  color: inherit;
}
/*overriding bootstrap card class*/
.btn-link:hover{
  text-decoration: none;
  color: inherit;
}