@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid|Roboto&display=swap');

.justify-content-center{
  justify-content: center;
}

.btn-secondary{
  background-color: #FF593E;
  border-color: aliceblue;
}

.hide-self{
  display: none !important;
}

.modal-body{
  background: aliceblue;
}
.modal-header{
  background:  rgb(38, 35, 50);
  color: aliceblue;
  font-family: 'Londrina Solid', cursive;
}

.modal-header .close span{
  visibility: hidden;
  color: aliceblue;
}
.modal-header .close span::after{
  color: aliceblue;
  text-shadow: none;
  content: "x";
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  visibility: visible;
}
.modal-header .close span:hover{
  color: white;
}