.wrap-skills{
    display: flex;
    flex-wrap: wrap;

}

.wrap-skills .card{
    width: 250px;
}

.wrap-skills .btn-link{
    color: blue !important;
    padding:0;
}
#ProfileNamee{
    font-family: 'Baloo Bhai', cursive;
}