@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Roboto:500&display=swap');


.navbar-brand {
  font-family: 'Londrina Outline', cursive;
  color: aliceblue;
}

.nav-link{
  color: aliceblue;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}
.menu-auth{
  min-width: 150px;
  text-align: right;
}