@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre&display=swap');

.navbar-brand {
  font-family: 'Averia Sans Libre', cursive;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}
.menu-auth{
  min-width: 150px;
  text-align: right;
}