.profile-img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgb(65, 62, 62);
}
.skill-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skill-header div{
  text-align: right;
}
.skill-header h5{
  color: #9e9e15;
}
.skill-description{
  margin: 30px 0;
  font-size: 20px;
}
.wrap-review-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
}
.wrap-review-header span:last-child{
  text-align: right;
}

.card footer img{
  float: right;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.star{
  cursor: pointer;
}

h5 i{
  color: #9d9e15;
}