.card img {
  float: left;
  margin-right: 20px;
  object-fit: cover;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #cccc;
}
.card-text{
  margin-top: 30px;
  text-align: justify;
}

.wrap-price{
  float: right;
  position: absolute;
  top: 15px;
  right: 20px;
}

.wrap-price h4{
  text-align: end;
}
.wrap-price h5{
  text-align: end;
}

.description{
  display: grid;
  grid-template-columns: 180px 1fr;
}
.description p{
  margin-top: 20px;
}

.message{
  margin: 20px auto;
}
.custom-range{
  height: calc(1rem + 1.2rem);
}

@media screen and (max-width: 940px){
  h4{
    font-size: 18px;
  }
}